.markdown {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 14px;

    hr {
        margin: 14px 0;
    }

    & ul,
    & ol {
        padding-left: 18px;
    }

    & * {
        margin: 4px 0
    }
}