.title {
    font-family: var(--font-family);
    font-size: 32px;
    color: var(--tg-theme-text-color);
    font-weight: 700;
}

.subtitle {
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--tg-theme-hint-color);
    font-weight: 400;
}