.guide {

    &-name {
        color: var(--text-color);
        font-family: var(--font-family);
        font-size: 24px;
    }

    &-date {
        color: var(--hint-color);
        font-family: var(--font-family);
        font-size: 14px;
    }
}