* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --font-family: "Inter", sans-serif;
}