* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Inter", sans-serif;
  --accent-color: #02A064;
  --background-color: #ffffff;
  --section-color: #F8FAF9;
  --text-color: #030303;
  --hint-color: #03030346;
}

body {
  background: var(--background-color);
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
}