.nav {
    width: 100%;
    display: flex;
    background: var(--section-color);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
    padding: 4px;
    border-radius: 24px;

    &-wrapper {
        position: fixed;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
    }

    &-link {
        border-radius: 24px;
        font-family: var(--font-family);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        flex: 1;
        -webkit-tap-highlight-color: transparent;
        transition: all .3s ease-in-out;

        & svg {
            transition: all .3s ease-in-out;
            stroke: var(--text-color);
            width: 18px;
            height: 18px;
        }

        &-active {
            background: var(--accent-color);

            & svg {
                stroke: var(--background-color);
            }
        }
    }
}