.nav {
    width: 100%;
    display: flex;
    background: gray;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

    &-link {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
}