.user {
    display: flex;
    align-items: center;
    gap: 8px;

    &-avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: var(--tg-theme-header-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &-name {
        color: var(--tg-theme-text-color);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 500;
    }

    &-tag {
        color: var(--tg-theme-hint-color);
        font-family: var(--font-family);
        font-size: 12px;
        font-weight: 400;
        opacity: 0.8;
    }
}